:root {
    --text-font-family: "Inter-Bold", Helvetica;
    --text-font-weight: 700;
    --text-font-size: 29.416000366210938px;
    --text-letter-spacing: 0px;
    --text-line-height: normal;
    --text-font-style: normal;
    --collection-1-hola: rgba(205, 34, 34, 1);
  }
  