.body {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.navbar {
  position: fixed;
  background-color: #dd1b2d;
  width: 100%;
  height: 62px;
  top: 0;
  left: 0;
  z-index: 1;
}
 .navbar img{
  margin-top: 10px;
  float: left;
  width: 300px;
  height: 60px; 
  object-fit: cover;
}
 .navbar a{
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Hahmlet-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
  margin-top: 20px;
  float: right;
  margin-right: 50px;
}
 .desktop .overlap-3 {
  position: absolute;
  width: 100%;
  left: 0;
} 
.desktop .video {
  width: 100%;
  object-fit: cover;
}
  
.desktop .div {
  overflow: hidden;
  background-image: url(./img/fondo-de-la-p-gina.svg);
  background-size: 100% 100%;
  width: 100%;
  /* height: 5664px; */
  position: relative; 
} 

.desktop .frame {
  position: absolute;
  width: 72px;
  height: 64px;
  top: 0;
  left: 10px;
  background-color: #ffffff;
}

.desktop .img {
  position: absolute;
  width: 82px;
  height: 73px;
  top: 3px;
  left: 0;
  object-fit: cover;
}



.desktop .fondo {
  width: 1745px;
  height: 4609px;
  top: 805px;
  position: absolute;
  left: 0;
}

.desktop .fondo-seccion {
  width: 1440px;
  height: 1015px;
  top: 2813px;
  position: absolute;
  left: 0;
}

.desktop .vector {
  height: 781px;
  top: 3828px;
  position: absolute;
  width: 1440px;
  left: 0;
}

.desktop .overlap-4 {
  position: absolute;
  width: 1440px;
  height: 2813px;
  top: 0;
  left: 0;
}

.desktop .vector-2 {
  height: 2165px;
  top: 0;
  position: absolute;
  width: 1440px;
  left: 0;
}

.desktop .fondo-novedades {
  width: 1437px;
  height: 1033px;
  top: 1780px;
  background: linear-gradient(180deg, rgb(188, 89, 63) 0%, rgba(205, 34, 34, 0) 95.49%, rgba(205, 34, 34, 0.04) 100%);
  position: absolute;
  left: 0;
}

.desktop .vector-3 {
  height: 1224px;
  top: 1165px;
  position: absolute;
  width: 1440px;
  left: 0;
}

.desktop .club-vips {
  position: absolute;
  width: 1446px;
  height: 769px;
  top: 4645px;
  left: 0;
}

.desktop .imagen-wrapper {
  position: absolute;
  width: 622px;
  height: 633px;
  top: 135px;
  left: 818px;
  overflow: hidden;
}

.desktop .imagen {
  position: absolute;
  width: 586px;
  height: 633px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .overlap-5 {
  position: absolute;
  width: 778px;
  height: 433px;
  top: 136px;
  left: 0;
}

.desktop .todav-a-no-eres {
  position: absolute;
  width: 778px;
  top: 0;
  left: 0;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .captura-2 {
  width: 258px;
  height: 78px;
  top: 189px;
  left: 77px;
  position: absolute;
}

.desktop .captura-3 {
  position: absolute;
  width: 258px;
  height: 84px;
  top: 183px;
  left: 374px;
}

.desktop .p {
  position: absolute;
  width: 707px;
  top: 349px;
  left: 55px;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 867px;
  top: 0;
  left: 421px;
  font-family: "Purple Purse-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .div-wrapper {
  position: absolute;
  width: 626px;
  height: 182px;
  top: 587px;
  left: 98px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 198px;
  top: 12px;
  left: 0;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #aaa9a6;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .informacin {
  position: absolute;
  width: 1444px;
  height: 925px;
  top: 3682px;
  left: 0;
}

.desktop .overlap-6 {
  position: absolute;
  width: 1440px;
  height: 824px;
  top: 101px;
  left: 0;
}

.desktop .r {
  position: absolute;
  width: 784px;
  height: 356px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .tenemos-locales-en {
  position: absolute;
  width: 659px;
  top: 34px;
  left: 781px;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #fffdfd;
  font-size: 29.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .r-2 {
  position: absolute;
  width: 784px;
  height: 355px;
  top: 469px;
  left: 0;
  object-fit: cover;
}

.desktop .vips-aperturas-mad {
  position: absolute;
  width: 593px;
  height: 355px;
  top: 221px;
  left: 697px;
  object-fit: cover;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 706px;
  top: 0;
  left: 314px;
  font-family: "Purple Purse-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .novedades {
  position: absolute;
  width: 1446px;
  height: 1113px;
  top: 2567px;
  left: 0;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 500px;
  top: 620px;
  left: 453px;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 1440px;
  top: 0;
  left: 0;
  font-family: "Purple Purse-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .plato {
  position: absolute;
  width: 1299px;
  height: 403px;
  top: 710px;
  left: 43px;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .overlap-group-2 {
  position: relative;
  width: 1297px;
  height: 403px;
  background-image: url(./img/vector-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .alb-ndigas-ib-ricas {
  position: absolute;
  width: 343px;
  top: 21px;
  left: 47px;
  font-family: "Purple Purse-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-2 {
  position: absolute;
  width: 159px;
  height: 55px;
  top: 344px;
  left: 34px;
  background-color: #e9afa0;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 104px;
  top: 11px;
  left: 26px;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #fffdfd;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.desktop .overlap-7 {
  position: absolute;
  width: 1335px;
  height: 427px;
  top: 108px;
  left: 39px;
}

.desktop .overlap-wrapper {
  position: absolute;
  width: 595px;
  height: 379px;
  top: 47px;
  left: 740px;
}

.desktop .overlap-8 {
  position: relative;
  width: 601px;
  height: 387px;
  left: -4px;
  background-image: url(./img/vector.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .VIPS-wellington {
  position: absolute;
  width: 299px;
  top: 13px;
  left: 42px;
  -webkit-text-stroke: 1px transparent;
  font-family: "Purple Purse-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-3 {
  top: 316px;
  left: 53px;
  position: absolute;
  width: 159px;
  height: 55px;
  background-color: #e9afa0;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 583px;
  height: 379px;
  top: 47px;
  left: 0;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .overlap-9 {
  position: relative;
  height: 381px;
  top: -1px;
  left: -1px;
  background-image: url(./img/vector-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .carbonara-de-soria {
  position: absolute;
  width: 276px;
  top: 55px;
  left: 22px;
  font-family: "Purple Purse-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .frame-4 {
  top: 312px;
  left: 14px;
  position: absolute;
  width: 159px;
  height: 55px;
  background-color: #e9afa0;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 1110px;
  top: 0;
  left: 132px;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .imagen-descuento {
  position: absolute;
  width: 1440px;
  height: 754px;
  top: 1787px;
  left: 0;
}

.desktop .vips-promo {
  position: absolute;
  width: 896px;
  height: 644px;
  top: 2px;
  left: 272px;
  object-fit: cover;
}

.desktop .pedido {
  position: absolute;
  width: 1440px;
  height: 834px;
  top: 992px;
  left: 0;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .pedir {
  position: absolute;
  width: 600px;
  height: 617px;
  top: 48px;
  left: 759px;
  object-fit: cover;
}

.desktop .vips-mesa {
  position: absolute;
  width: 621px;
  height: 621px;
  top: 48px;
  left: 75px;
  object-fit: cover;
}

.desktop .frame-5 {
  position: absolute;
  width: 418px;
  height: 83px;
  top: 691px;
  left: 177px;
  background-color: #cc1719;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid;
  border-color: #ffffff;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 630px;
  top: 12px;
  left: -106px;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-6 {
  position: absolute;
  width: 418px;
  height: 83px;
  top: 691px;
  left: 850px;
  background-color: #cc1719;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid;
  border-color: #ffffff;
}

.desktop .ttulo {
  position: absolute;
  width: 1442px;
  height: 101px;
  top: 814px;
  left: 0;
}

.desktop .overlap-10 {
  position: relative;
  width: 1440px;
  height: 102px;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 1440px;
  top: 34px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .arrow {
  left: 1356px;
  position: absolute;
  width: 22px;
  height: 102px;
  top: 0;
}

.desktop .arrow-2 {
  left: 63px;
  position: absolute;
  width: 22px;
  height: 102px;
  top: 0;
}






.footer {
  position: absolute;
  width: 100%;
  height: 115px;
  top: 5549px;
  background-color: #dd1b2d;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.footer a{
  text-decoration: none;
}
.footer img{
  object-fit: cover;
  margin-left: 30px;
  color:#dd1b2d;
}

.footer .text-wrapper {
  float: right;
  font-family: "Hahmlet-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
}

.footer .div {
  float: left;
}